*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar{
    display: none;
  }
}
.App{
  max-width: 390px;

  background-color: darkslateblue;
  min-height: 94vh;
  overflow: hidden;
  margin: auto;
 
  
}
.header{
  text-align: center;
  padding: 20px 0px;
  color: beige;
}
