*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar{
    display: none;
  }
}
.App{
  max-width: 375px;

  background-color: darkslateblue;
  max-height: 95vh;
/*   overflow: scroll; */
  margin: auto;
 
  
}
.header{
  text-align: center;
  padding: 20px 0px;
  color: beige;
}
